[access]
	inheritFrom = All-Projects
[project]
	description = Send v-cards to the bot and it can handle changes/updates/new subscribers.
[access "refs/*"]
	owner = group user/Simon Canning (scanning)
[access "refs/for/refs/*"]
	read = group user/Simon Canning (scanning)
	push = group user/Simon Canning (scanning)
	label-Code-Review = -2..+2 group user/Simon Canning (scanning)
	label-Verified = -1..+1 group user/Simon Canning (scanning)
	rebase = group user/Simon Canning (scanning)
	removeReviewer = group user/Simon Canning (scanning)
	submit = group user/Simon Canning (scanning)
[access "refs/heads/*"]
	read = group user/Simon Canning (scanning)
	create = group user/Simon Canning (scanning)
	push = +force group user/Simon Canning (scanning)
	pushMerge = group user/Simon Canning (scanning)
[access "refs/tags/*"]
	push = group user/Simon Canning (scanning)
	push = +force group user/Simon Canning (scanning)
